# CLIP and its dependencies
torch
torchvision
Pillow
git+https://github.com/openai/CLIP.git
ftfy
regex
tqdm

# FastAPI server dependencies
fastapi
uvicorn
pydantic
python-multipart
typing-extensions

# Script dependencies
python-dotenv
boto3
psycopg[binary]
aiohttp
numpy

# Development dependencies
black
pylint 